/* Header Section */  
@media screen and (max-width:1230px) {
  header .container .row {
      gap: 150px;
  }
}
@media screen and (max-width:1000px) {
  header .container .row {
    gap: 100px;
}
  header nav ul { 
      gap:15px; 
  }
  header .left-side img { 
      height: 50px;
  }
  header .container .left-side {
gap: 25px;
}}
@media screen and (max-width:915px) {
  header .container .row {
    gap: 50px;
}
header .container .left-side {
  gap: 10px;
  }
}
@media screen and (max-width:800px) {
  
  header .left-side nav { 
      display: none;
  }
  header .container .left-side { 
      grid-template-columns: 1fr;
  }
  #header-icon { 
  display: block;
}
header .container .right-side { 
  grid-template-columns: repeat(3 , 1fr);
  gap: 30px;
}
header .container .row {
  padding: 25px 0;
  }
  header .container .right-side .log-in {
      min-width: 100px;
  }
  header .container .right-side .sign-up {
      min-width: 100px;
  }}
  @media screen and (max-width:700px) {
      header .container .right-side{
           gap: 15px
      }
      header .container .right-side .log-in {
      min-width: 80px;
  }
  header .container .right-side .sign-up {
      min-width: 80px;
  }
  }
  @media screen and (max-width:600px) {
      header .container .right-side .log-in {
      min-width: 60px;
  }
  header .container .right-side .sign-up {
      min-width: 75px;
  }  
      }
      @media screen and (max-width:465px){
          header .container .row{
              gap: 70px;
          }
      }
  @media screen and (max-width:360px) {
      header .container .right-side .log-in {
      min-width: 55px;
  }
  header .container .right-side { 
  gap: 5px;
  } 
  header .container .row{
              gap: 25px;
          }}
/*------------------------------------------------------------------------*/ 
/* introduction section */ 
@media screen and (max-width:765px) {
  .introduction .tittle .heading { 
    font-size: 18px;
  }
  .introduction p:first-of-type{
    font-size: 18px;
  }
  .introduction p:last-of-type{
    font-size: 16px;
  }
  .introduction .tittle .heading img{
    width: 40px;
  }
}
@media only screen and (max-width: 725px) {
  .introduction{ 
    padding: 100px 60px ;
  }
  .introduction .buttons button:first-of-type,
  .introduction .buttons button:last-of-type
  {
    font-size: 14px;
  }
}
@media screen and (max-width:685px) {
  .introduction .tittle .heading { 
    font-size: 17px;
  }
  .introduction p:first-of-type{
    font-size: 17px;
    width: 90%;
  }
  .introduction p:last-of-type{
    width: 90%;
  }
}
@media screen and (max-width:575px) {
  .introduction .tittle .heading { 
    font-size: 14px;
  }
  .introduction p:first-of-type{
    font-size: 14px;
  }
  .introduction p:last-of-type{
    font-size: 13px;
  }
  .introduction { 
    padding: 100px 40px;
  }
}
@media screen and (max-width:400px) {
  .introduction .tittle .heading { 
    font-size: 12px;
    padding: 5px 2px;
  }
  .introduction p:first-of-type{
    font-size: 11px;
  }
  .introduction p:last-of-type{
    font-size: 10px;
  }
  .introduction { 
    padding: 100px 40px;
  }
}
  /*---------------------------------------------------------------------*/ 
/* LOGOS section */ 
@media screen and (max-width:1080px) {
td:nth-last-of-type(3){
  display: none;
}}
@media screen and (max-width:900px) {
  td:nth-last-of-type(5){
    display: none;
  }}
  @media screen and (max-width:770px) {
    td:nth-last-of-type(6){
      display: none;
    }}
    @media screen and (max-width:600px) {

      td:nth-last-of-type(7){
        display: none;
      }}
      @media screen and (max-width:410px) {
        .logos table {
          padding:10px;
        }
        .logos td img {
          width: 100%;
          padding: 0 5px;
        }
      }
/*--------------------------------------------------------------*/ 
/*Benifts section */ 
@media screen and (max-width:1030px) {
  /* 2 items by column */
  .Benefits .container .cards { 
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3 , 1fr)
  } 
  .Benefits .container .cards .card { 
    padding: 40px;
  }
  .Benefits .container .tittle div {
    flex-direction: column;
    gap: 25px;
  }
  .Benefits .container .tittle button{
    align-self: flex-start;
  }
}
@media screen and (max-width:750px) { 
  /* item by column */ 
  .Benefits .container .cards { 
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6 , 1fr)
  } 
  .Benefits .container .tittle div {
    flex-direction: column;
  }
  .Benefits .container .cards .card {
     padding: 30px;
  }
  .Benefits .container .tittle div {
gap: 100px;
}
.Benefits .container .tittle h2{
  font-size: 30px;
}
.Benefits .container .cards .card p:first-of-type { 
  font-size: 45px;
}
.Benefits .container .tittle div {
  gap: 20px; 
}
}
@media screen and (max-width:500px) { 
  .Benefits .container .cards .card p:first-of-type {
    font-size: 40px;
  }
}
/*----------------------------------------------------------------------------------*/
/* Couses Section */ 
@media screen and (max-width:1060px) {
  .Our-courses .container .courses .course .information {
    flex-wrap: wrap;
    flex-direction: column;
    gap: 7px;
    align-items: flex-start;
  }
}
@media screen and (max-width:900px) {
.Our-courses .container .courses{ 
    grid-template-columns: repeat(1 , 1fr);
    grid-template-rows: repeat(6 ,1fr);
  }
.Our-courses .container .information  p { 
font-size: 22px; 
font-weight: 500;
 }
 .Our-courses .container .tittle h2 {
  font-size: 30px;
 }
 .Our-courses .container .courses .course .information {
  gap: 15px;
 }
}
@media screen and (max-width:1030px) {
  .Our-courses .container .courses .course { 
    padding: 40px;
  }
  .Our-courses .container .tittle div {
    flex-direction: column;
    gap: 25px;
  }
  .Our-courses .container .tittle button{
    align-self: flex-start;
  }
}
@media screen and (max-width:370px) {
  .Our-courses .container .courses .course {
    padding: 20px;
  }
}
/*-----------------------------------------------------------*/ 
/* Testimonial section */ 
@media screen and (max-width:1000px) {
  .Our-testimonials .cards { 
    grid-template-columns: repeat(1 ,1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  .Our-testimonials .cards .card p:first-child { 
    padding: 40px;
  }
  .Our-testimonials .container .tittle h2 { 
    font-size: 30px;
  }
}
@media screen and (max-width:1030px) {
  .Our-testimonials .container .tittle div {
    flex-direction: column;
    gap: 25px;
  }
  .Our-testimonials .container .tittle button{
    align-self: flex-start;
  }
}
@media screen and (max-width:750px){
  .Our-testimonials .cards .card p:first-child{
    padding: 30px;
  }
  .Our-testimonials .cards .card .heading button {
padding: 15px 5px;
}}
@media screen and (max-width:450px) {
  .Our-testimonials .cards .card .heading { 
    font-size: 12px;
  }
  .Our-testimonials .cards .card .heading button {
    font-size: 12px;
    padding: 10px 5px;
  }
  .Our-testimonials .cards .card img {
    width: 50px;
  }
  .Our-testimonials .cards .card p:first-child {
    font-size: 14px;
  }
  .Our-testimonials .container .tittle h2 { 
    font-size: 25px;
  }
}
@media screen and (max-width:360px) {
  .Our-testimonials .cards .card .heading{
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }
}
/*------------------------------------------------------------------*/ 
/* Pricing section */ 
@media screen and (max-width:1009px) {
  .Our-Pricing .container .tittle div { 
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    padding: 10px 10px;
 }
 .Our-Pricing .container .tittle .buttons { 
  flex-direction: row;
 }
}
@media screen and (max-width:950px)
{
  .Our-Pricing .container .cards{
  grid-template-columns: 100%;
  padding: 50px;
} }
@media screen and (max-width:600px)
{
  .Our-Pricing .container .cards{
  padding: 20px;
} 
.Our-Pricing .container .cards .card ul{
  padding: 10px 15px;
}
.Our-Pricing .container .tittle h2 {
  font-size: 30px;
}
.Our-Pricing .container .tittle .buttons button{
  font-size: 14px;
}
}
@media screen and (max-width:450px) {
  .Our-Pricing .container .cards .card li { 
    font-size:small ;
  } 
  .Our-Pricing .container .cards .card .features h4 {
    font-size: 16px;
  }
}
@media screen and (max-width:360px ){
  .Our-Pricing .container .cards {
    padding: 15px;
  }
  .Our-Pricing .container .cards .card {
    padding: 20px 10px;
  }
 .Our-Pricing .container .cards .card li img{
padding: 5px;
width: 30px;  }
.Our-Pricing .container .cards .card li p {
  font-size:10px ; 
}
}
/*-------------------------------------------------------------*/ 
/* Footer Section */ 
@media screen and (max-width:800px) {
  footer .container .content { 
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 5px;
    row-gap: 40px;
    justify-items: flex-start;
    height: 330px;
  }
  footer .container .left-side{
    grid-row: 1;
    grid-column: 1 ;
  }
  #impty-div { 
    display: none;
  }
  footer .container .content nav:first-of-type { 
    grid-row: 1;
    grid-column: 2;
    justify-self: center;
  }
  footer .container .content nav:last-of-type{
    grid-row: 1;
    grid-column: 3; 
  }
  footer .container .social-media{
     grid-row: 2;
     grid-column: 1 / 4 ;
     align-self: center;
  }
  footer .container .copy-right{ 
    grid-row: 3;
    align-self: flex-start;
    grid-column: 1 / 4 ;
  }
}
/* 2 items by column */ 
@media screen and (max-width:650px) {
  footer .container .content { 
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    column-gap: 5px;
    row-gap: 35px;
    justify-items: flex-start;
    height: 500px;
  }
  footer .container .left-side{
    grid-row: 1;
    grid-column: 1 ;
    width: 100%;
  }
  #impty-div { 
    display: none;
  }
  footer .container .content nav:first-of-type { 
    grid-row: 2;
    grid-column: 1;
    justify-self: flex-start;
  }
  footer .container .content nav:last-of-type{
    grid-row: 2;
    grid-column: 2; 
  }
  footer .container .social-media{
     grid-row: 3;
     grid-column: 1 / 3 ;
     align-self: center;
  }
  footer .container .copy-right{ 
    grid-row: 4;
    align-self: flex-start;
    grid-column: 1 / 3 ;
  }
} 
/* item by column */ 
@media screen and (max-width:430px) {
  footer .container .content { 
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
    column-gap: 5px;
    row-gap: 35px;
    justify-items: center;
    height: 700px;
  }
  footer .container .left-side{
    grid-row: 1;
    grid-column: 1;
    width: 100%;
   align-items: center;
  }
  #impty-div { 
    display: none;
  }
  footer .container .content nav:first-of-type { 
    grid-row: 2;
    grid-column: 1;
    justify-self: center;
  }
  footer .container .content nav:last-of-type{
    grid-row: 3;
    grid-column: 1;
  }
  footer .container .social-media{
     grid-row: 4;
     grid-column: 1;
     align-self: center;
  }
  footer .container .copy-right{ 
    grid-row: 5;
    grid-column: 1;
    align-self: flex-start;
  }
  footer .container .content nav ul { 
    align-items: center;
  }
} 
/* responsive for all screens */ 
@media screen and (max-width:5000px) {
  header .container ,
  .introduction .container , 
  .logos .container ,
  .image .container,
  .Benefits .container ,
  .Our-courses .container ,
    .Our-testimonials .container ,
    .Our-Pricing .container ,
      footer .container {
    width: calc(100% - 320px);
      }
}
@media screen and (max-width:1200px) {
  header .container ,
  .introduction .container , 
  .logos .container ,
  .image .container,
  .Benefits .container ,
  .Our-courses .container ,
    .Our-testimonials .container ,
    .Our-Pricing .container ,
      footer .container {
    width: calc(100% - 160px);
      }
}
@media screen and (max-width:1000px) {
  header .container ,
  .introduction .container , 
  .logos .container ,
  .image .container,
  .Benefits .container ,
  .Our-courses .container ,
    .Our-testimonials .container ,
    .Our-Pricing .container ,
      footer .container {
    width: calc(100% - 100px);
      }
}
@media screen and (max-width:300px) {
  header .container ,
  .introduction .container , 
  .logos .container ,
  .image .container,
  .Benefits .container ,
  .Our-courses .container ,
    .Our-testimonials .container ,
    .Our-Pricing .container ,
      footer .container {
    width:calc(100% - 50px);
  }

  .image .container .row img{
   /* width: -webkit-fill-available; */
  }
}
